@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --azulmarinho: #054a91ff;
    --marinhofraco: #3e7cb1ff;
    --azulmaisfraco: #81a4cdff;
    --brancoazulado: #dbe4eeff;
    --titulo: "Lora", serif;
    --texto: "Cormorant", serif;
}

body{
    background: var(--azulmaisfraco);
    font-family: var(--texto);
}

header{
    background-color: var(--azulmarinho); 
    display: flex;
    justify-content: space-around;
    color: var(--brancoazulado);
}

.menu{
    display: flex;
    list-style: none;
    gap: 100px;
    margin: 30px;
    font-size: 22px;
}

.menu a{
    text-decoration: none;
    color: var(--brancoazulado);
    font-weight: bold;
}

.menu a:hover{
    color: var(--azulmaisfraco);
}

.img-capa{
    width: 100%;
}
